@tailwind base;
@tailwind components;

.input {
  @apply w-full px-3 text-lg text-gray-900 rounded h-9 bg-slate-200 focus:outline-none focus:ring focus:ring-secondary-600;
}

#sidebar .active {
  @apply bg-primary-400;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #393942 #26262d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #26262d;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #393942;
  border-radius: 14px;
  border: 3px solid #26262d;
}

@tailwind utilities;
